/*====Reset básico=======*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*=====Barra de navegacion======*/
nav {
    background-color: #4973ba;
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    background: #003366;
    display: flex;
}

.menu li{
    position: relative;
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu li a:hover{
    background: #0055aa;
}

.submenu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #004080;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
}

.menu li:hover .submenu{
    display: block;
}

.submenu li{
    width: 100%;
}

.submenu li a{
    padding: 12px;
}

section{
    background:white;
    margin:20px 0;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}
/*===== Footer =====*/
footer{
    background-color: #003b75;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 80px;
}

.seccion{
    width: 300px;
    margin-bottom: 20px;
}

.seccion h3{
    margin-bottom: 15px;
    font-size: 22px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.seccion p{
    margin-bottom: 8px;
    line-height: 1.6;
}

.red-social{
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    transition: 0.3s;
}

.red-social:hover{
    color: #87ceeb;
    padding-left: 5px;
}

/*===== Copyright =====*/
.copyright{
    background-color: #002a54;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}
.programas{
    width: 90%;
    margin: 50px auto;
}

.encabezado{
    text-align: center;
    margin-bottom: 50px;
}

.encabezado h1{
    font-size: 45px;
    margin-bottom: 20px;
}

.encabezado p{
    font-size: 22px;
    margin-bottom: 30px;
}

.boton{
    background-color: #003b75;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 18px;
}

.boton:hover{
    background-color: #0056a3;
}

.contenedor-cursos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.tarjeta{
    background-color: #f4f4f4;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

.tarjeta h3{
    margin-bottom: 15px;
}

.diferenciadores{
    width: 90%;
    margin: 80px auto;
    text-align: center;
}

.diferenciadores h2{
    font-size: 40px;
    margin-bottom: 40px;
}

.contenedor-diferenciadores{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.tarjeta-diferenciador{
    width: 300px;
    background-color: #f4f4f4;
    padding: 25px;
    border-radius: 10px;
}

.tarjeta-diferenciador h3{
    margin-bottom: 15px;
}
.red-social{
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    transition: 0.3s;
}

.red-social:hover{
    color: #87ceeb;
    padding-left: 5px;
}
.foto-usuario{
    margin-left: auto; /* la envía hacia la derecha */
    list-style: none;
}

.foto-usuario img{
    width: 40px;
    height: 40px;
    border-radius: 50%; /* la vuelve circular */
    object-fit: cover;
    cursor: pointer;
}
.foto-usuario img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}