*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{

font-family:Arial, Helvetica, sans-serif;
background:#f4f7fb;

}
nav{

background:#003366;

}
.menu{

list-style:none;
display:flex;
align-items:center;
padding:0 20px;

}
.menu li{

position:relative;

}
.menu a{

display:block;
padding:15px 20px;
color:white;
text-decoration:none;

}
.menu a:hover{

background:#0055aa;

}
.logo{

display:flex;
align-items:center;
margin-right:auto;

}
.logo img{

width:60px;
height:60px;

}
.logo p{

color:white;
margin-left:10px;
font-size:14px;

}
.submenu{

display:none;
position:absolute;
top:100%;
left:0;
background:#004080;
list-style:none;
width:200px;
z-index:10;

}
.menu li:hover .submenu{

display:block;

}
.submenu a{

padding:12px;

}
.noticias,
.contenido-destacado{

width:90%;
margin:60px auto;

}
h1,
.contenido-destacado h2{

text-align:center;
color:#003b75;
margin-bottom:20px;

}
.noticias>p{

text-align:center;
margin-bottom:40px;

}
.contenedor-noticias{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;

}
.noticia{

background:white;
border-radius:10px;
overflow:hidden;
box-shadow:0 3px 10px rgba(0,0,0,0.15);

}
.noticia img{

width:100%;
height:220px;
object-fit:cover;

}
.noticia time{

display:block;
padding:15px;
color:#666;

}
.noticia h2,
.noticia h3{

padding:10px 20px;
color:#003b75;

}
.noticia p{

padding:0 20px 20px;
line-height:1.6;
text-align:justify;

}

.noticia a{

display:inline-block;
margin:0 20px 20px;
padding:10px 20px;
background:#003b75;
color:white;
text-decoration:none;
border-radius:5px;

}

.noticia a:hover{

background:#0055aa;

}

/*===== Footer =====*/
footer{
    background-color: #003b75;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 80px;
}

.seccion{
    width: 300px;
    margin-bottom: 20px;
}

.seccion h3{
    margin-bottom: 15px;
    font-size: 22px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.seccion p{
    margin-bottom: 8px;
    line-height: 1.6;
}

.red-social{
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    transition: 0.3s;
}

.red-social:hover{
    color: #87ceeb;
    padding-left: 5px;
}

/*===== Copyright =====*/
.copyright{
    background-color: #002a54;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}


.foto-usuario{
    margin-left: auto; /* la envía hacia la derecha */
    list-style: none;
}

.foto-usuario img{
    width: 40px;
    height: 40px;
    border-radius: 50%; /* la vuelve circular */
    object-fit: cover;
    cursor: pointer;
}
.foto-usuario img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}